{% extends 'base.html' %}
{% block content %}
<h2>Bem-vindo ao Portal dos Esportes!</h2>
<p>Explore os principais esportes e descubra projetos incríveis.</p>

<div class="index-sports-btns">
	<a href="/futebol" class="btn-sport futebol"><span>⚽</span> Futebol</a>
	<a href="/basquete" class="btn-sport basquete"><span>🏀</span> Basquete</a>
	<a href="/volei" class="btn-sport volei"><span>🏐</span> Vôlei</a>
    <a href="/rugby" class="btn-sport rugby"><span>🏉</span> Rugby</a>
    <a href="/futevolei" class="btn-sport futevolei"><span>⚽🏐</span> Futevôlei</a>
    <a href="/handebol" class="btn-sport handebol"><span>🤾</span> Handebol</a>
    <a href="/futsal" class="btn-sport futsal"><span>⚽</span> Futsal</a>
    <a href="/volei_de_areia" class="btn-sport volei_de_areia"><span>🏐🌴</span> Vôlei de Areia</a>
</div>

<div class="index-projetos-btn">
	<a href="/projetos" class="btn-projetos"><span>💡</span> Outros Projetos</a>
</div>
{% endblock %}