{% extends 'base.html' %}
{% block content %}
<button id="toggle-dark-mode" class="aba-btn">🌙 Modo Escuro</button>
<div class="aba-btn-area aba-btn-topo"><a href="/" class="aba-btn aba-btn-futebol">🏠 Voltar para o Início</a></div>
<div class="aba-btn-area"><button class="aba-btn aba-btn-localizacao" onclick="buscarLocaisProximos('futebol')">📍 Locais para jogar futebol perto de mim</button></div>
<div id="resultado-localizacao-futebol" class="resultado-localizacao"></div>
<h1>⚽ Futebol</h1>
<img src="{{ url_for('static', filename='futebol.jpg') }}" alt="Futebol" class="img-esporte">

<div style="text-align:left; max-width:700px; margin: 24px auto; background:rgba(31, 59, 5, 0.397); padding:20px; border-radius:12px;">
	<h3>Quando, onde e quem criou?</h3>
	<p>O futebol moderno surgiu na Inglaterra em 1863, quando a Football Association (FA) foi fundada em Londres. O esporte, porém, tem raízes em jogos antigos praticados em várias culturas, mas foi na Inglaterra que as regras foram padronizadas.</p>
	<h3>Regras básicas e mais importantes</h3>
	<ul>
		<li>Dois times de 11 jogadores cada.</li>
		<li>O objetivo é marcar gols na baliza adversária.</li>
		<li>O jogo é dividido em dois tempos de 45 minutos.</li>
		<li>Não é permitido usar as mãos, exceto o goleiro dentro da área.</li>
		<li>Faltas, cartões amarelo e vermelho, impedimento e escanteio são regras essenciais.</li>
	</ul>
	<h3>Curiosidades</h3>
	<ul>
		<li>O Brasil é o país com mais títulos mundiais (5 Copas do Mundo).</li>
		<li>A Copa do Mundo FIFA é o evento esportivo mais assistido do planeta.</li>
		<li>Pelé é considerado um dos maiores jogadores da história.</li>
		<li>O futebol é jogado em mais de 200 países.</li>
	</ul>
	<h3>Benefícios</h3>
	<ul>
		<li>Desenvolve trabalho em equipe e disciplina.</li>
		<li>Melhora a saúde física e mental.</li>
		<li>Estimula a coordenação motora e o raciocínio rápido.</li>
		<li>Promove inclusão social e amizades.</li>
	</ul>
	<h3>Popularidade</h3>
	<p>O futebol é o esporte mais popular do mundo, com bilhões de fãs e praticantes. Está presente em todos os continentes e é símbolo de paixão, cultura e união.</p>
</div>
{% endblock %}